.general-card {
  border-radius: 100rem;
  padding: 0.75rem;
  font-size: 1.4em;
  font-weight: lighter;
  text-align: center;
  transition-duration: 500ms;

  &.clickable:hover {
    // background-color: rgb(207, 207, 207);
    cursor: pointer;
  }

  span + span {
    margin-left: 1rem;
  }
}