.prayers-container {
  margin-top: 1rem;
}

.prayer-card {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  border-radius: 100rem;
  padding: 1rem;
  font-size: 1em;
  // font-weight: bold;
  text-align: center;
  color: white !important;
  cursor: pointer;
  display: block;
  width: 100%;
  
  -webkit-tap-highlight-color: transparent;
  transition-duration: 500ms;

  &.m {
    background-color: rgb(255, 145, 145) !important;
  }
  &.o {
    background-color: rgb(57, 255, 67) !important;
  }
  &.d {
    background-color: rgb(255, 194, 82) !important;
  }
  &.n {
    background-color: white !important;
    color: black !important;
    &.future {
      // background: rgb(25.5,25.5,25.5) !important;
      // border: white 2px solid;
      // color: white !important;
      padding: 0.6rem;
      font-size: 0.9em;
      opacity: 0.9;
      // cursor: default;
      // border-radius: 0.5rem;
    }
  }
  &.future {
    cursor: default;
  }
}

@media screen and (max-width: 768px) {
  &.o {
    background-color: rgb(95, 255, 103) !important;
  }
}