.prayers-container {
  margin-top: 1rem;
}

.prayer-card {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1em;
  // font-weight: bold;
  text-align: center;
  color: white !important;
  cursor: pointer;
  display: block;
  width: 100%;
  animation: none;
  // box-shadow: none !important;

  -webkit-tap-highlight-color: transparent;
  transition-duration: 500ms;

  &.n {
    box-shadow: none !important;
    color: black !important;
    &.future {
      padding: 0.6rem;
      font-size: 0.9em;
      opacity: 0.9;
    }
  }
  &.future {
    cursor: default;
  }
}
.card.error {
  padding: 1rem 1rem;
  // text-align: center;
  border-radius: 0.25rem;
  background-color: rgb(255, 134, 134) !important;
  color: black !important;
  position: relative;
  .icon {
    margin-right: 1rem;
  }
  .delete {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-weight: lighter;
    opacity: 0.5;
    cursor: pointer;
    transition-duration: 200ms;

    &:hover {
      opacity: 0.75;
    }
    // color: white;
  }
}

@media screen and (max-width: 768px) {
  &.o {
    background-color: rgb(95, 255, 103) !important;
  }
}
